<div class="chat-list-container">
  <button *ngIf="showButtonAdd()" (click)="openAvailableUsersPopup()">
    Add new Contacts
  </button>

  <button *ngIf="!showButtonAdd()" (click)="openCreateGroupPopup()">
    Create new group
  </button>

  <input type="text" placeholder="Search..." [(ngModel)]="searchText" />

  <div class="chat-item" *ngFor="let chat of filteredChats" (click)="openChat(chat)">
    <span class="chat-name" >{{ chat }}</span>
    <div>
      <button
        *ngIf="showButtonAdd()"
        class="delete-button"
        (click)="deleteChat(chat); $event.stopPropagation()"
        title="Delete Contacts"
      >
        ✕
      </button>
    </div>
  </div>

  <app-create-group
    *ngIf="showCreateGroupPopup"
    [contacts]="user.contacts"
    (createGroup)="handleCreateGroup($event)"
    (close)="showCreateGroupPopup = false"
  >
  </app-create-group>

  <app-available-users
    *ngIf="showAvailableUsersPopup"
    [availableUsers]="availableUsers"
    (close)="showAvailableUsersPopup = false"
    (addContact)="handleAddContact($event)"
  >
  </app-available-users>
</div>
