<div
  [ngClass]="{
    message: true,
    own: message.isOwn,
    'system-message': message.sender === 'System'
  }"
>
  <ng-container *ngIf="message.sender !== 'System'; else systemMsg">
    <div class="message-header" *ngIf="!message.isOwn && message.sender">
      {{ message.sender }}
    </div>
    <div class="message-text">{{ message.content }}</div>
    <div class="message-time">{{ message.timestamp }}</div>
  </ng-container>

  <ng-template #systemMsg>
    <div class="message-text">{{ message.content }}</div>
    <div class="message-time">{{ message.timestamp }}</div>
  </ng-template>
</div>
