<div class="login-container">
  <div class="card">
    <h2>Sign In</h2>

    <input
      #userName
      type="text"
      placeholder="Name"
      (input)="checkUserName(userName.value)"
    />
    <p class="error" *ngIf="wasUserNameTouched && !isVisibleUserName">
      User name must be between 4-10
    </p>

    <input
      #password
      type="password"
      placeholder="Password"
      (input)="checkPassword(password.value)"
    />
    <p class="error" *ngIf="wasPasswordTouched && !isVisiblePassworde">
      Password should be between 6-12
    </p>
    <button [disabled]="isVisibleButton" (click)="onLogin()">Login</button>
    <button class="backHome-btn" routerLink="/">Back to home</button>
  </div>
</div>
