<div class="chat-container">
  <div class="chat-header">
    <div class="chat-title">
      <div class="chat-info">
        <span class="chat-name">{{ chat.name }}</span>
        <span class="chat-type" *ngIf="chat.isGroup">Group</span>
        <span class="chat-type" *ngIf="!chat.isGroup">DM</span>
      </div>

      <div style="position: relative">
        <button class="chat-options" (click)="toggleOptionsMenu()">⋮</button>
        <div class="chat-options-menu" *ngIf="showOptionsMenu">
          <ul>
            <li (click)="showGroupDescription()">Group Description</li>
            <li (click)="toShowAddUsrPopup()">Add User</li>
            <li (click)="showParticipants()">Participants</li>
            <li (click)="leaveGroup()">Leave Group</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="active-users">
      <div class="active-user" *ngFor="let user of activeUsers.slice(0, 5)">
        {{ user.initials }}
      </div>
      <span *ngIf="activeUsers.length > 5">
        +{{ activeUsers.length - 5 }} active
      </span>
    </div>
  </div>

  <div class="chat-messages">
    <app-message *ngFor="let message of messages" [message]="message">
    </app-message>
  </div>

  <div class="chat-input">
    <input
      type="text"
      [(ngModel)]="newMessage"
      placeholder="Type a message..."
    />
    <button (click)="sendMessage()">Send</button>
  </div>
</div>

<app-description
  *ngIf="showDescriptionPopup"
  [description]="chat.description"
  (close)="showDescriptionPopup = false"
>
</app-description>

<app-add-user-chat
  *ngIf="showAddUsrPopup"
  [filteredUsers]="addUsers"
  (close)="showAddUsrPopup = false"
  (addContact)="handleAddContact($event)">
</app-add-user-chat>

<app-participants
  *ngIf="showParticipantsPopup"
  [filteredUsers]="seeUsers"
  (close)="showParticipantsPopup = false"
  (removeUser)="handleRemoveUser($event)"
>
  ></app-participants
>
